---
layout: default
title: Assistência Técnica
permalink: /assistencia-tecnica/
---
<section class="showcase-intern">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="showcase-container">
            <div class="showcase-content">
              <h1 class="mb-sm">Assistência técnica</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="technical-assistance-resume">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="hgl mb-sm">A Vidramaq disponibiliza uma atenção especial ao suporte técnico pré e pós venda possuindo uma estrutura adequada para cobrir a necessidade de nossos clientes em todo território brasileiro.</p>
          <a data-toggle="modal" data-target="#modalAssistencia" class="btn btn-inline">Entenda como funciona</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-form-assistance">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <form>
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
                  <label for="name">Seu nome <span>(Obrigatório)</span></label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Preencha seu e-mail <span>(Obrigatório)</span></label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="phone">Seu telefone <span>(Obrigatório)</span></label>
                  <input type="number" class="form-control" id="phone">
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="UF">UF <span>(Obrigatório)</span></label>
                      <select name="UF" class="form-control">
                      	<option value="AC">Acre</option>
                      	<option value="AL">Alagoas</option>
                      	<option value="AP">Amapá</option>
                      	<option value="AM">Amazonas</option>
                      	<option value="BA">Bahia</option>
                      	<option value="CE">Ceará</option>
                      	<option value="DF">Distrito Federal</option>
                      	<option value="ES">Espírito Santo</option>
                      	<option value="GO">Goiás</option>
                      	<option value="MA">Maranhão</option>
                      	<option value="MT">Mato Grosso</option>
                      	<option value="MS">Mato Grosso do Sul</option>
                      	<option value="MG">Minas Gerais</option>
                      	<option value="PA">Pará</option>
                      	<option value="PB">Paraíba</option>
                      	<option value="PR">Paraná</option>
                      	<option value="PE">Pernambuco</option>
                      	<option value="PI">Piauí</option>
                      	<option value="RJ">Rio de Janeiro</option>
                      	<option value="RN">Rio Grande do Norte</option>
                      	<option value="RS">Rio Grande do Sul</option>
                      	<option value="RO">Rondônia</option>
                      	<option value="RR">Roraima</option>
                      	<option value="SC">Santa Catarina</option>
                      	<option value="SP">São Paulo</option>
                      	<option value="SE">Sergipe</option>
                      	<option value="TO">Tocantins</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-6">
                    <div class="form-group">
                      <label for="City">Cidade <span>(Obrigatório)</span></label>
                      <input type="text" class="form-control" id="City">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="comment">Sua necessidade <span>(Obrigatório)</span></label>
                  <textarea class="form-control"></textarea>
                </div>
              </div>
              <div class="col-md-10 col-md-offset-1">
                <button type="submit" class="btn btn-info pull-right">Enviar mensagem</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="modalAssistencia" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Como funciona a assistência técnica</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ipsum vitae nisl pellentesque finibus id id lorem. Vivamus malesuada felis ut consequat dignissim. Proin auctor purus vel mi volutpat suscipit. Fusce rutrum efficitur dignissim. Sed ligula neque, ultricies eget bibendum ut, fermentum id massa. Pellentesque urna magna, euismod eget ultrices fermentum, malesuada nec tortor. Nunc ligula nisi, auctor vel ornare at, commodo sit amet libero. Donec hendrerit turpis pellentesque tortor egestas viverra. Etiam convallis id sapien vitae suscipit. Sed dapibus lacus lectus, et placerat massa rutrum nec. Proin condimentum a dolor vitae laoreet. Aliquam eu tristique mi, et fermentum purus. Vestibulum sollicitudin nec sapien non lobortis. Curabitur ac maximus diam.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Entendi</button>
      </div>
    </div>

  </div>
</div>
