---
layout: default
title: Contato
permalink: /contato/
---
<section class="showcase-intern">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="showcase-container">
            <div class="showcase-content">
              <h1 class="mb-sm">Contato</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-form-assistance">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="container-contact">
            <p class="phone">(48) 3034-0434</p>
            <p class="phone">(48) 3094-6174</p>
            <p class="phone mb-sm">(48) 9832-0200</p>
            <p class="address">Horário de atendimento: Segunda à sexta-feira, das 09:00 às 12:00 e das 13:00 às 18:00</p>
          </div>
        </div>
        <div class="col-md-9">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">Seu nome <span>(Obrigatório)</span></label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Preencha seu e-mail <span>(Obrigatório)</span></label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="phone">Seu telefone <span>(Obrigatório)</span></label>
                  <input type="number" class="form-control" id="phone">
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label for="UF">UF <span>(Obrigatório)</span></label>
                      <select name="UF" class="form-control">
                      	<option value="AC">Acre</option>
                      	<option value="AL">Alagoas</option>
                      	<option value="AP">Amapá</option>
                      	<option value="AM">Amazonas</option>
                      	<option value="BA">Bahia</option>
                      	<option value="CE">Ceará</option>
                      	<option value="DF">Distrito Federal</option>
                      	<option value="ES">Espírito Santo</option>
                      	<option value="GO">Goiás</option>
                      	<option value="MA">Maranhão</option>
                      	<option value="MT">Mato Grosso</option>
                      	<option value="MS">Mato Grosso do Sul</option>
                      	<option value="MG">Minas Gerais</option>
                      	<option value="PA">Pará</option>
                      	<option value="PB">Paraíba</option>
                      	<option value="PR">Paraná</option>
                      	<option value="PE">Pernambuco</option>
                      	<option value="PI">Piauí</option>
                      	<option value="RJ">Rio de Janeiro</option>
                      	<option value="RN">Rio Grande do Norte</option>
                      	<option value="RS">Rio Grande do Sul</option>
                      	<option value="RO">Rondônia</option>
                      	<option value="RR">Roraima</option>
                      	<option value="SC">Santa Catarina</option>
                      	<option value="SP">São Paulo</option>
                      	<option value="SE">Sergipe</option>
                      	<option value="TO">Tocantins</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8 col-sm-6">
                    <div class="form-group">
                      <label for="City">Cidade <span>(Obrigatório)</span></label>
                      <input type="text" class="form-control" id="City">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="comment">Mensagem <span>(Obrigatório)</span></label>
                  <textarea class="form-control"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-info pull-right">Enviar mensagem</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="informations" class="informations">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="address">
            <p>R. Antônio Jacinto Martins, lote A09 e A11 - Nossa Sra. do Rosario, São José - Santa Catarina</p>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDvWEJ9u0w4TpUkCuTNiJ-lRI75FlfTVsw'></script>
      <div class="gmap-container">
        <div id='gmap_canvas'></div>
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
      </div>
      <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-27.5822045,-48.6238826),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-27.5822045,-48.6238826)});infowindow = new google.maps.InfoWindow({content:'<strong>Vidramaq</strong><br>R. Antônio Jacinto Martins, lote A09 e A11 <br> Nossa Sra. do Rosario, São José - SC<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
  </div>
</section>
