---
layout: default
title: Equipamentos
permalink: /equipamentos/
---
<section class="showcase-intern">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="showcase-container">
            <div class="showcase-content">
              <h1 class="mb-sm">Equipamentos</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="container-sticky">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="sticky-relative">
            <!--Affix start-->
            <div class="sticky navigation" id="mainNav">
              <ul>
                <li><a href="#biseladora" class="list-group-item navigation__link active">Biseladora</a></li>
                <li><a href="#forno-horizontal-para-têmpera" class="list-group-item navigation__link">Forno horizontal para têmpera</a></li>
                <li><a href="#furadeiras" class="list-group-item navigation__link">Furadeiras</a></li>
                <li><a href="#lapidadoras" class="list-group-item navigation__link">Lapidadoras</a></li>
                <li><a href="#lavadoras" class="list-group-item navigation__link">Lavadoras</a></li>
                <li><a href="#mesa-de-corte" class="list-group-item navigation__link">Mesa de corte</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--Affix end-->
      </div>
      <div class="col-md-9">
        <!--Content start-->
          <div id="biseladora" class="page-content-section">
            <h2>Biseladora</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
          <div id="forno-horizontal-para-têmpera" class="page-content-section">
            <h2>Forno horizontal para têmpera</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
          <div id="furadeiras" class="page-content-section">
            <h2>Furadeiras</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
          <div id="lapidadoras" class="page-content-section">
            <h2>Lapidadoras</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
          <div id="lavadoras" class="page-content-section">
            <h2>Lavadoras</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
          <div id="mesa-de-corte" class="page-content-section">
            <h2>Mesa de corte</h2>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="product-container">
                  <img src="/img/maquina-default.png" alt="" class="img-responsive">
                  <h3>Lapidadora ultra rapida</h3>
                  <p>Cód. FDM2436</p>
                  <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-hidden">Ver detalhes</a>
                </div>
              </div>
            </div>
          </div>
        <!--Content end-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header-product">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container-details">
          <div class="row">
            <div class="col-md-7">
              <!-- Slider -->
              <div class="gallery">
                <div class="row">
                  <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                      <div class="col-sm-12" id="carousel-bounding-box">
                        <div class="carousel slide" id="CarouselProducts">
                          <!-- Carousel items -->
                          <div class="carousel-inner">
                            <div class="active item" data-slide-number="0">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=zero" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="1">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=1" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="2">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=2" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="3">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=3" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="4">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=4" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="5">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=5" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="6">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=6" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="7">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=7" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="8">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=8" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="9">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=9" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="10">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=10" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="11">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=11" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="12">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=12" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="13">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=13" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="14">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=14" class="zoom-img">
                              </div>
                            </div>

                            <div class="item" data-slide-number="15">
                              <div class="item-zoom">
                                <img src="http://placehold.it/1800x1100&text=15" class="zoom-img">
                              </div>
                            </div>
                          </div>
                          <!-- Carousel nav -->
                          <a class="left carousel-control" href="#CarouselProducts" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                          </a>
                          <a class="right carousel-control" href="#CarouselProducts" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/Slider-->
                </div>
                <div class="thumbs" id="slider-thumbs">
                  <!-- Bottom switcher of slider -->
                  <div class="">
                    <a class="thumbnail" id="carousel-selector-0">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=zero" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-1">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=1" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-2">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=2" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-3">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=3" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-4">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=4" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-5">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=5" class="img-responsive">
                      </div>
                    </a>
                  </div>
                  <div class="">
                    <a class="thumbnail" id="carousel-selector-6">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=6" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-7">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=7" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-8">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=8" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-9">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=9" class="img-responsive">
                      </div>
                    </a>
                  </div>
                  <div class="">
                    <a class="thumbnail" id="carousel-selector-10">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=10" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-11">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=11" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-12">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=12" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-13">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=13" class="img-responsive">
                      </div>
                    </a>
                  </div>
                  <div class="">
                    <a class="thumbnail" id="carousel-selector-14">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=14" class="img-responsive">
                      </div>
                    </a>
                  </div>

                  <div class="">
                    <a class="thumbnail" id="carousel-selector-15">
                      <div class="thumbnail-container">
                        <img src="http://placehold.it/900x600&text=15" class="img-responsive">
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <h2 class="mb-xs text-left">Lapidadora ultra rápida</h2>
              <p class="mb-sm">Cód. FDM2436</p>
              <div class="description">
                <p>Maquina destinada a eliminar o fio de corte nos vidros planos bem como quebrar os cantos com o emprego de lixas cinta.</p>
                <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, varius et venenatis at, blandit in mi. Vivamus efficitur elit ut est aliquet, id viverra risus tincidunt. Aliquam erat volutpat. Praesent tortor ligula, feugiat sed tempus eu, molestie nec.</p>
                <a href="/nome-do-equipamento/" class="btn btn-info">Detalhes e orçamento</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
