---
layout: default
title: Vidramaq
---
<section class="showcase">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="showcase-container">
            <div class="showcase-content">
              <h1 class="mb-sm">Representante oficial da Fushan no Brasil</h1>
              <a href="" class="btn btn-lg btn-info">Conheça nossos equipamentos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="equipments">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="mb-xl"><span>Produtos de alta qualidade</span> para o mercado do vidro em <span>todo o Brasil</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <img src="/img/maquina-default.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-offset-1 col-md-4">
          <h3 class="h2 mb-sm">Conheça nossos <span>equipamentos</span></h3>
          <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius ex.</p>
        </div>
      </div>
      <div class="row mb-lg">
        <div class="col-md-4">
          <div class="banner-category">
            <h4>Categoria</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit</p>
            <a href="" class="btn btn-inline btn-white">Acessar</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner-category">
            <h4>Categoria</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit</p>
            <a href="" class="btn btn-inline btn-white">Acessar</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner-category">
            <h4>Categoria</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit</p>
            <a href="" class="btn btn-inline btn-white">Acessar</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="" class="btn btn-lg btn-info">Conhecer agora</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="parts">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-4">
        <h3 class="h2 mb-sm">Encontre <span>peças</span></h3>
        <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius ex.</p>
        <a href="" class="btn btn-info mb-md">Encontrar</a>
      </div>
      <div class="col-md-offset-1 col-md-5">
        <img src="/img/maquina-default.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</section>

<section class="more-links">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="more-links-container text-center">
            <h2 class="mb-sm">Solicite um <span>contato</span></h2>
            <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius ex.</p>
            <a href="" class="btn btn-inline btn-white">Quero um contato</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="more-links-container text-center mb-0-mobile">
            <h2 class="mb-sm">Assistência técnica <span>especializada</span></h2>
            <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius ex.</p>
            <a href="" class="btn btn-inline btn-white">Acessar agora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="customer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <h2 class="mb-xl">Nossos <span>clientes</span></h2>
      </div>
      <div class='responsive'>
        <div>
          <figure>
            <img src="/img/logo-alumiaco.png" class="img-responsive" alt="">
          </figure>
        </div>
        <div>
          <figure>
            <img src="/img/logo-acogel.png" class="img-responsive" alt="">
          </figure>
        </div>
        <div>
          <figure>
            <img src="/img/logo-acogel.png" class="img-responsive" alt="">
          </figure>
        </div>
        <div>
          <figure>
            <img src="/img/logo-alumiaco.png" class="img-responsive" alt="">
          </figure>
        </div>
        <div>
          <figure>
            <img src="/img/logo-alumiaco.png" class="img-responsive" alt="">
          </figure>
        </div>
        <div>
          <figure>
            <img src="/img/logo-acogel.png" class="img-responsive" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <h2><span>Depoimentos</span></h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content-quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut metus sit amet libero tristique dapibus. Pellentesque sed leo sem.</p>
            <p class="author">Adriano Silveira - Empresa</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-quote">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut metus sit amet libero tristique dapibus. Pellentesque sed leo sem.</p>
            <p class="author">Adriano Silveira - Empresa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h2 class="mb-sm">Atualiza-se com <span>nosso blog</span></h2>
          <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius</p>
          <a href="" class="btn btn-inline">Acessar o blog</a>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card-container">
            <div class="img-content" style="background-image:url('http://placehold.it/1800x1100&text=Blog01')"></div>
            <div class="card-content">
              <h3 class="mb-xs">Dicas para escolher o melhor vidro para tempos de mesas</h3>
              <p class="mb-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius</p>
              <a href="#">Continue lendo</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card-container">
            <div class="img-content" style="background-image:url('http://placehold.it/1800x1100&text=Blog02')"></div>
            <div class="card-content">
              <h3 class="mb-xs">Dicas para escolher o melhor vidro para tempos de mesas</h3>
              <p class="mb-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius</p>
              <a href="#">Continue lendo</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card-container">
            <div class="img-content" style="background-image:url('http://placehold.it/1800x1100&text=Blog03')"></div>
            <div class="card-content">
              <h3 class="mb-xs">Dicas para escolher o melhor vidro para tempos de mesas</h3>
              <p class="mb-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius</p>
              <a href="#">Continue lendo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
