---
layout: default
title: Nome equipamento
permalink: /nome-do-equipamento/
---
<section class="showcase-intern">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="showcase-container">
            <div class="showcase-content">
              <h1 class="mb-sm">Nome do equipamento</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info-product">
  <div class="container-fluid">
    <div class="container">
      <div class="container-details">
        <div class="row">
          <div class="col-md-7">
            <!-- Slider -->
            <div class="gallery">
              <div class="row">
                <div class="col-xs-12" id="slider">
                  <!-- Top part of the slider -->
                  <div class="row">
                    <div class="col-sm-12" id="carousel-bounding-box">
                      <div class="carousel slide" id="CarouselProducts">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                          <div class="active item" data-slide-number="0">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=zero" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="1">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=1" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="2">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=2" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="3">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=3" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="4">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=4" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="5">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=5" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="6">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=6" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="7">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=7" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="8">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=8" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="9">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=9" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="10">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=10" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="11">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=11" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="12">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=12" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="13">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=13" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="14">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=14" class="zoom-img">
                            </div>
                          </div>

                          <div class="item" data-slide-number="15">
                            <div class="item-zoom">
                              <img src="http://placehold.it/1800x1100&text=15" class="zoom-img">
                            </div>
                          </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#CarouselProducts" role="button" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#CarouselProducts" role="button" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/Slider-->
              </div>
              <div class="thumbs" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <div class="">
                  <a class="thumbnail" id="carousel-selector-0">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=zero" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-1">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=1" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-2">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=2" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-3">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=3" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-4">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=4" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-5">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=5" class="img-responsive">
                    </div>
                  </a>
                </div>
                <div class="">
                  <a class="thumbnail" id="carousel-selector-6">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=6" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-7">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=7" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-8">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=8" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-9">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=9" class="img-responsive">
                    </div>
                  </a>
                </div>
                <div class="">
                  <a class="thumbnail" id="carousel-selector-10">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=10" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-11">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=11" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-12">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=12" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-13">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=13" class="img-responsive">
                    </div>
                  </a>
                </div>
                <div class="">
                  <a class="thumbnail" id="carousel-selector-14">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=14" class="img-responsive">
                    </div>
                  </a>
                </div>

                <div class="">
                  <a class="thumbnail" id="carousel-selector-15">
                    <div class="thumbnail-container">
                      <img src="http://placehold.it/900x600&text=15" class="img-responsive">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <h2 class="mb-xs text-left">Lapidadora ultra rápida</h2>
            <p class="mb-sm">Cód. FDM2436</p>
            <div class="description">
              <p>Maquina destinada a eliminar o fio de corte nos vidros planos bem como quebrar os cantos com o emprego de lixas cinta.</p>
              <p class="mb-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, varius et venenatis at, blandit in mi. Vivamus efficitur elit ut est aliquet, id viverra risus tincidunt. Aliquam erat volutpat. Praesent tortor ligula, feugiat sed tempus eu, molestie nec.</p>
              <a data-toggle="modal" href="#modalEstimate" class="btn btn-info btn-full-mobile">Solicitar orçamento</a>
            </div>
          </div>
        </div>
      </div>
      <div class="more-info-product">
        <div class="row">
          <div class="col-md-8">
            <div class="container-more-info">
              <div class="content-more-info">
                <h3>Características</h3>
                <p>Maquina destinada a eliminar o fio de corte nos vidros planos bem como quebrar os cantos com o emprego de lixas cinta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, varius et venenatis at, blandit in mi. Vivamus efficitur elit ut est aliquet, id viverra risus tincidunt. Aliquam erat volutpat. Praesent tortor ligula, feugiat sed tempus eu, molestie nec.</p>
              </div>
              <div class="content-more-info">
                <h3>Características</h3>
                <p>Maquina destinada a eliminar o fio de corte nos vidros planos bem como quebrar os cantos com o emprego de lixas cinta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, varius et venenatis at, blandit in mi. Vivamus efficitur elit ut est aliquet, id viverra risus tincidunt. Aliquam erat volutpat. Praesent tortor ligula, feugiat sed tempus eu, molestie nec.</p>
              </div>
              <div class="content-more-info">
                <h3>Características</h3>
                <p>Maquina destinada a eliminar o fio de corte nos vidros planos bem como quebrar os cantos com o emprego de lixas cinta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla urna tortor, varius et venenatis at, blandit in mi. Vivamus efficitur elit ut est aliquet, id viverra risus tincidunt. Aliquam erat volutpat. Praesent tortor ligula, feugiat sed tempus eu, molestie nec.</p>
              </div>
              <div class="content-quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut metus sit amet libero tristique dapibus. Pellentesque sed leo sem.</p>
                <p class="author">Adriano Silveira</p>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-3">
            <div class="box-fixed">
              <div class="box-fixed-content hidden-sm hidden-xs">
                <h2>Lapidadora ultra rápida</h2>
                <p>Cód. FDM2436</p>
              </div>
              <div class="box-fixed-action hidden-sm hidden-xs">
                <a data-toggle="modal" href="#modalEstimate" class="btn btn-info">Solicitar orçamento</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Orçamento -->
<div id="modalEstimate" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Solicitar orçamento</h4>
      </div>
      <div class="modal-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet sem id leo semper vehicula. Fusce faucibus aliquam augue, eget facilisis nunc convallis a.</p>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Seu nome <span>(Obrigatório)</span></label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Preencha seu e-mail <span>(Obrigatório)</span></label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="phone">Seu telefone <span>(Obrigatório)</span></label>
                <input type="number" class="form-control" id="phone">
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="UF">UF <span>(Obrigatório)</span></label>
                    <select name="UF" class="form-control">
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-6">
                  <div class="form-group">
                    <label for="City">Cidade <span>(Obrigatório)</span></label>
                    <input type="text" class="form-control" id="City">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="comment">Descrição do orçamento <span>(Obrigatório)</span></label>
                <textarea class="form-control">Olá, gostaria de fazer orçamento de Nome da Máquina ou da Peça.</textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-info pull-right">Solicitar orçamento</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
