<footer>
  <div class="container-fluid">
    <div class="container">
      <div class="container-top">
        <div class="row">
          <div class="col-md-3 col-sm-4">
            <div class="footer-resume">
              <h2 class="mb-xs">Vidramaq</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum elit, egestas varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-3">
            <div class="footer-menu">
              <ul class="">
                <li><a class="link" href="">Empresa</a></li>
                <li><a class="link" href="">Equipamentos</a></li>
                <li><a class="link" href="">Peças</a></li>
                <li><a class="link" href="">Assitência técnica</a></li>
                <li><a class="link" href="">Blog</a></li>
                <li><a class="link" href="">Contato</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-5">
            <div class="footer-phone">
              <ul class="mb-xs">
                <li class="hgl-phone"><a href="tel:4830340434">(48) 3034-0434</a></li>
                <li class="hgl-phone"><a href="tel:4830946174">(48) 3094-6174</a></li>
                <li class="hgl-phone"><a href="tel:4898320200">(48) 9832-0200</a></li>
              </ul>
              <p>Horário de atendimento: Segunda à sexta-feira, das 09:00 às 12:00 e das 13:00 às 18:00</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-social">
              <h3>Acompanhe a Vidramaq</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed vestibulum.</p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Informe seu e-mail">
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button">Receber</button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>
      <div class="container-bottom">
        <div class="row">
          <div class="col-md-4">
            <figure>
              <img src="/img/brand-icon-white-vidramaq.svg" class="img-responsive" alt="">
            </figure>
          </div>
          <div class="col-md-8">
            <p>R. Antônio Jacinto Martins, lote A09 e A11 - Nossa Sra. do Rosario, São José - SC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


{% include modal.html %}

<script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
<script src="{{base}}/javascripts/bootstrap.min.js"></script>
<script src="{{base}}/javascripts/main.js"></script>
<script src="{{base}}/javascripts/jquery.zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
<script type="text/javascript">
  $('.item-zoom').zoom();
</script>
<script>
$('.responsive').slick({
  dots: true,
  autoplay: true,
  infinite: true,
  accessibility: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>
