<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% include favicon.html %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="Vidramaq Comércio e Serviços">
  <meta property="og:site_name" content="Vidramaq Comércio e Serviços">
  <meta property="og:description" content="Descrição do site da Vidramaq">
  <meta property="og:url" content="http://mwww.vidramaq.com.br">
  <meta property="og:image" content="">
  <meta property="og:locale" content="pt_BR">
</head>
