<nav class="navbar" id="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="menu-flex">
          <a href="/">
            <div class="brand-container">
              <figure>
                <img src="/img/logo-vidramaq.svg" alt="">
              </figure>
            </div>
          </a>
          <div class="menu-mobile hidden-lg hidden-md">
            <div class="hamburger">
              <div class="container-hambuger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="list-menu-container hidden-sm hidden-xs">
            <ul class="list-inline">
              <li><a class="link" href="">Empresa</a></li>
              <li><a class="link" href="/equipamentos/">Equipamentos</a></li>
              <li><a class="link">Peças</a></li>
              <li><a class="link" href="/assistencia-tecnica/">Assitência técnica</a></li>
              <li><a class="link">Blog</a></li>
              <li><a class="link" href="/contato/">Contato</a></li>
              <li><a class="btn btn-inline btn-white btn-radius" data-toggle="modal" href="#modalContact">Receber contato</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
