<!-- Modal Receba Contato -->
<div id="modalContact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Receba um contato</h4>
      </div>
      <div class="modal-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet sem id leo semper vehicula. Fusce faucibus aliquam augue, eget facilisis nunc convallis a.</p>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Seu nome <span>(Obrigatório)</span></label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Preencha seu e-mail <span>(Obrigatório)</span></label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="phone">Seu telefone <span>(Obrigatório)</span></label>
                <input type="number" class="form-control" id="phone">
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="UF">UF <span>(Obrigatório)</span></label>
                    <select name="UF" class="form-control">
                      <option>Selecione</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8 col-sm-6">
                  <div class="form-group">
                    <label for="City">Cidade <span>(Obrigatório)</span></label>
                    <input type="text" class="form-control" id="City">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="comment">Que tal adiantar o assunto?</label>
                <textarea class="form-control"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-info pull-right">Solicitar contato</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
