@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800');

@font-face {
    font-family: 'metropolisbold';
    src: url('../fonts/metropolis/metropolis-bold-webfont.woff2') format('woff2'),
         url('../fonts/metropolis/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolislight';
    src: url('../fonts/metropolis/metropolis-light-webfont.woff2') format('woff2'),
         url('../fonts/metropolis/metropolis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolisregular';
    src: url('../fonts/metropolis/metropolis-regular-webfont.woff2') format('woff2'),
         url('../fonts/metropolis/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1.5;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-size: $vunity * 2;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: darken($brand-info, 5%);
    font-size: $vunity * 2;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


* {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: $brand-primary;
}

h2, .h2{
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  font-family: 'metropolislight';
  span{
    font-family: 'metropolisbold';
    font-size: 36px;
    display: block;
  }
  @media only screen and (max-width : 480px) {
    font-size: 22px;
    span{
      font-family: 'metropolisbold';
      font-size: 26px;
      display: block;
    }
  }
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #808080;
  &.hgl{
    font-size: 16px;
  }
}

section {
  padding-top: 90px;
  padding-bottom: 90px;
}

// body.modal-open{
//   width: 100%!important;
//   padding-right: 0!important;
//   overflow-y: scroll!important;
// }

.mb-xs{
  margin-bottom: 10px;
}

.mb-sm{
  margin-bottom: 20px;
}

.mb-md{
  margin-bottom: 40px;
}

.mb-lg{
  margin-bottom: 60px;
}

.mb-xl{
  margin-bottom: 80px;
}

.page-content{
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-x: hidden;
  .menu-flex{
    position: relative;
    &:before{
      content: "";
      background: #fff;
      top: 0;
      left: -695px;
      width: 900px;
      height: 80px;
      position: absolute;
    }
  }
  figure{
    width: 170px;
    top: 0px;
    position: relative;
    .st0{fill:#fff;}
    .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#fff;}
    .st2{fill:#fff;}
  }
  ul{
    text-align: right;
    li{
      font-size: $vunity * 2;
      a.link{
        color: #fff;
        font-weight: 700;
      }
    }
  }
  &.scrolling{
    background-color: rgba(25, 127, 102, 0.90);
    color: #fff;
    border-bottom: 0;
    transition: all .4s;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    figure{
      .st0{fill:#134173;}
      .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#134173;}
      .st2{fill:#148ECE;}
    }
    ul{
      li{
        font-size: $vunity * 2;
      }
    }
  }
  .menu-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    padding-top: 15px;
  }
}

.btn{
  padding: 10px 18px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  white-space:normal !important;
  word-wrap: break-word;
}

.btn-lg{
  padding: 20px 34px;
  font-size: 16px;
}

.btn-inline{
  border: 2px solid $brand-info;
  color: $brand-info;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s;
  &:hover, &:focus{
    background-color: $brand-info;
    color: #fff;
    transition: all 0.2s;
  }
  &.btn-white{
    border: 2px solid #fff;
    color: #fff;
    &:hover, &:focus{
      background-color: #fff;
      color: $brand-primary;
    }
  }
}

.full-width{
  width: 100%;
}
.navbar{
  &.open{
    height: 100vh;
    background: #fff;
    transition: all 0.2s;
    figure{
      .st0{fill:#134173;}
      .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#134173;}
      .st2{fill:#148ECE;}
    }
    a.link{
      color: $brand-info;
    }
    a.btn-inline{
      border: 2px solid $brand-info;
      color: $brand-info;
      &:hover, &:focus{
        background-color: $brand-info;
        color: #fff;
      }
    }
  }
}

.menu-mobile {
  text-align: right;
  display: inline-block;
  float: right;
  // top: -45px;
  // position: relative;
}
.menu-mobile .hamburger{
  display:inline-block;
  position:relative;
  height:47px;
  width:50px;
  cursor:pointer
}
.menu-mobile .hamburger .container-hambuger{
  top:15px;
  position:absolute;
  left:15px
}
.menu-mobile .hamburger span{
  width:20px;
  height:3px;
  background:#fff;
  display:block;
  border-radius:2px;
  position:absolute;
  transition:all 0.2s
}

.menu-mobile .hamburger.open span{
  background:$brand-info;
}

.navbar.scrolling .menu-mobile .hamburger span{
  background:$brand-info;
}

.menu-mobile .hamburger span:nth-child(1){
  top:0px
}
.menu-mobile .hamburger span:nth-child(2){
  top:7px
}
.menu-mobile .hamburger span:nth-child(3){
  top:14px
}
.menu-mobile .hamburger span:nth-child(4){
  top:7px
}
.menu-mobile .hamburger.open span{
  transition:all 0.2s
}
.menu-mobile .hamburger.open span:nth-child(1){
  top:7px;
  opacity:0
}
.menu-mobile .hamburger.open span:nth-child(2){
  transform:rotate(45deg)
}
.menu-mobile .hamburger.open span:nth-child(3){
  top:7px;
  opacity:0
}
.menu-mobile .hamburger.open span:nth-child(4){
  transform:rotate(-45deg)
}

.list-menu-container{
  &.open{
    display: block !important;
    width: 100%;
    ul{
      li{
        display: block;
        text-align: center;
        padding: 15px;
        a.link{
          padding: 15px;
        }
      }
    }
  }
}

section{
  padding: 120px 0;
}

h1{
  font-family: 'metropolisbold';
}

.showcase{
  position: relative;
  background-image:url(../img/background-showcase.png);
  background-size: cover;
  width: 100%;
  height: 80vh;
  padding: 0 0;
  &:before{
    content:"";
    background: #000;
    opacity: 0.4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .showcase-container{
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    .showcase-content{
      h1{
        font-size: 44px;
        color: #fff;
        font-family: 'metropolisbold';
        @media only screen and (max-width : 480px) {
          font-size: 28px;
          text-align: center;
        }
      }
    }
  }
}

.equipments{
  h2{
    font-family: 'metropolislight';
    display: inline-block;
    font-size: 36px;
    span{
      font-family: 'metropolisbold';
      display: inline-block;
      font-size: 36px;
    }
    @media only screen and (max-width : 480px) {
      font-size: 28px;
      text-align: center;
      span{
        font-size: 28px;
        display: inline;
      }
    }
  }
  h3{
    text-align: left;
    color: $brand-primary;
  }
}

.more-links{
  background: darken($brand-info, 5%);
  position: relative;
  overflow-x: hidden;
  &:before{
    position: absolute;
    content: "";
    background: darken($brand-info, 10%);
    width: 2000px;
    left: 50%;
    top: 0;
    bottom: 0;
  }
  .more-links-container{
    padding: 0 30px;
    h2{
      color: #fff;
      text-align: center;
    }
    p{
      color: #fff;
      text-align: center;
    }
    a{

    }
  }
  @media only screen and (max-width : 991px) {
    &:before{
      display: none;
    }
    .more-links-container{
      margin-bottom: 80px;
      padding: 0;
      &.mb-0-mobile{
        margin-bottom: 0px;
      }
    }
  }
}

.customer{
  figure{
    max-width: 160px;
    margin: 0 auto;
    img{
      max-width: 100%;
      max-height: 40px;
    }
  }
  .slick-next:before, .slick-prev:before{
    color: $brand-primary !important;
  }
}

.blog{
  h2{
    text-align: left;
  }
  .img-content{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card-content{
    padding: 20px;
    h3{
      font-size: 15px;
      font-weight: 700;
      color: $brand-primary;
      line-height: 22px;
    }
  }
  @media only screen and (max-width : 9910px) {
    .col-md-3{
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0px;;
      }
    }
  }
}


footer{
  background-color: $brand-primary;
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    content: "";
    background-image: url(../img/brand-icon-vidramaq.svg);
    top: -230px;
    right: -330px;
    width: 800px;
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.2;
  }
  .container-top{
      padding: 90px 0;
  }
  h2, h3, p, a, ul li{
    color: #fff;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }
  h2{
    font-size: 16px;
    font-family: 'metropolisbold';
    text-align: left;
  }
  p{
    font-size: 14px;
  }
  ul li{
    &.hgl-phone{
      a{
        font-family: 'metropolisbold';
        font-size: 26px;
        &:hover{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .container-bottom{
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    figure{
      max-width: 34px;
      img{
        max-height: 34px;
      }
    }
    p{
      text-align: right;
    }
    @media only screen and (max-width : 480px) {
      figure{
        margin: 0 auto;
        img{
          max-height: 34px;
        }
      }
      p{
        text-align: center;
        margin-top: 15px;
      }
    }
  }
  a{
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
  @media only screen and (max-width : 767px) {
    h1, h2, h3, h4, h5, p, ul, li, a{
      text-align: center;
    }
  }
}

.showcase-intern{
  position: relative;
  background-image:url(../img/background-teste.jpg);
  background-size: cover;
  width: 100%;
  min-height: 40vh;
  padding: 80px 0 0 0;
  &:before{
    content:"";
    background: #000;
    opacity: 0.4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .showcase-container{
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    .showcase-content{
      h1{
        font-size: 44px;
        color: #fff;
        font-family: 'metropolisbold';
        @media only screen and (max-width : 480px) {
          font-size: 28px;
          text-align: center;
        }
      }
    }
  }
}
.sticky-relative{
  position: relative;
  margin-top: 90px;
  .sticky {
    position: absolute;
    width: 100%;
    &.fixed{
      position: fixed;
      top: 100px;
    }
    ul{
      li{
        display: block;
        a{
          display: block;
          padding: 10px;
          color: #808080;
          transition: all 0.6;
          &:hover{
            background: $gray-lighter;
            text-decoration: none;
            transition: all 0.6;
          }
          &.active{
            font-weight: 700;
            background: $brand-primary;
            display: block;
            color: #fff;
            transition: all 0.6;
          }
        }
      }
    }
  }
}

.page-content-section{
  padding-top: 90px;
  h2{
    text-align: left;
    font-family: 'metropolisbold';
    margin-bottom: 20px;
  }
}

.product-container{
  padding: 30px;
  h3{
    font-family: 'metropolisbold';
    font-size: 16px;
    color: #535353;
    text-align: center;
    margin-top: 30px;
  }
  p{
    font-size: 13px;
    color: #A3A3A3;
    text-align: center;
    margin-top: 5px;
  }
  .btn-hidden{
    opacity: 0;
    width: 100%;
    margin-top: 10px;
  }
  &:hover{
    transform: scale(1.1);
    transition: all .2s;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    z-index: 2;
    .btn-hidden{
      opacity: 1;
    }
  }
}

.container-details{
  h2{
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    // width: 100%;
}


.gallery{
  position: relative;
  overflow: hidden;
  .item{
    img{
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  .thumbs{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    &>div{
      display: inline;
      a{
        .thumbnail-container{
          width: 100px;
          height: 67px;
          img{
            display: block;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media only screen and (max-width : 991px) {
    margin-bottom: 50px;
  }
}

.more-info-product{
  padding: 120px 0 0 0;
  .container-more-info{
    .content-more-info{
      margin-bottom: 50px;
      &:last-child{
        margin-bottom: 0;
      }
      h3{
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
  .box-fixed{
    .box-fixed-content{
      padding: 30px;
      background: #f8f8f8;
      h2{
        text-align: left;
        font-weight: 700;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
      }
    }
    .box-fixed-action{
      a{
        width: 100%;
      }
    }
    &.fixed{
      position: fixed;
      top: 100px;
    }
  }
}

.technical-assistance-resume{
  background: #f8f8f8;
  text-align: center;
  p{
    text-align: center;
  }
  a{
    text-align: center;
  }
}

.form-control{
  border: 1px solid #D9D9D9;
  height: 48px;
  &:focus{
    border-color: #1d7f65;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(29, 127, 101, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(29, 127, 101, 0.6);
  }
}

label{
  color: #7B7B7B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  span{
    font-size: 11px;
    color: $brand-primary;
  }
}

textarea.form-control {
    height: 300px;
}

.container-contact{
  text-align: center;
  .phone{
    font-family: 'metropolisbold';
    font-size: 20px;
  }
  @media only screen and (max-width : 991px) {
    margin-bottom: 50px;
  }
}

.content-quote{
  position: relative;
  margin: 80px 50px 0 50px;
  &:before{
    position: absolute;
    content: "";
    background-image: url(../img/quotes.svg);
    width: 40px;
    height: 35px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
  }
  p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #313131;
    padding-left: 70px;
    &.author{
      font-size: 16px;
      padding-left: 100px;
      color: #808080;
      &:before{
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        left: 70px;
        bottom: 10px;
        background-color: #b3b3b3;
      }
    }
  }
  @media only screen and (max-width : 991px) {
    margin: 80px 0px 0 0px;
  }
}

.banner-category{
  background: $brand-primary;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  transition: all 0.2s;
  padding: 30px;
  &:first-child{
    margin-top: 100px;
    @media only screen and (max-width : 480px) {
      margin-top: 30px;
    }
  }
  a{
    opacity: 0;
    transition: all 0.2s;
  }
  h4{
    color: #fff;
    font-family: 'metropolisbold';
    margin-bottom: 10px;
    font-size: 24px;
    transition: all 0.2s;
    margin-top: 42px;
    transition: all 0.2s;
  }
  p{
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }
  &:hover{
    background: darken($brand-primary, 10%);
    transition: all 0.2s;
    h4{
      font-size: 28px;
      transition: all 0.2s;
      margin-top: 0px;
      transition: all 0.2s;
    }
    a{
      opacity: 1;
      transition: all 0.2s;
    }
  }
}


.informations{
  background: lighten($brand-primary, 5%);
  text-align: center;
  position: relative;
  padding: 0;
  p{
    color: #fff;
    font-weight: 700;
  }
  .address{
    height: 524px;
    display: flex;
    align-items:center;
  }
  .map{
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    .gmap-container{
      overflow: hidden;
      position: relative;
      height: 524px;
      width: 100%;
      #gmap_canvas{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(229, 227, 223);
      }
    }
  }
  @media only screen and (max-width : 991px) {
    .address{
      height: 200px;
      display: flex;
      align-items:center;
      margin-bottom: 524px;
    }
    .map{
      width: 100%;
      top: 200px;
    }
  }
}

footer{
  .footer-resume, .footer-menu, .footer-phone{
    @media only screen and (max-width : 991px) {
      margin-bottom: 30px;
    }
  }
  .footer-social{
    .btn{
      min-height: 48px;
    }
    h3{
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 16px;
    }
    p{
      margin-bottom: 10px;
    }
  }

}

.modal-header{
  background: $brand-primary;
  padding: 25px;
  h4{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
  }
}
.modal-body{
  padding: 25px;
}

.modal-footer{
  padding: 25px;
}

.modal-description{
  background: $gray-lighter;
  padding: 25px;
}

.parts{
  background: $gray-lighter;
  h3{
    text-align: left;
  }
}

.zoom-img{
  display: block;
}

.item{
  display:inline-block;
  position: relative;
}

.carousel-control.left, .carousel-control.right{
  background: none;
}

.content-product{
  .modal-header{
    background: none;
  }
}

.carousel-control{
  width: 40px;
}

.modal-body{
  textarea.form-control {
    height: 150px;
  }
}

.modal-header-product{
  padding: 25px;
}

.btn-full-mobile{
  width: 100%;
}

.testimonials{
  // background: rgba(255,255,255,1);
  // background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(248,248,248,1)));
  // background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  // background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  // background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8', GradientType=0 );
  background: $gray-lighter;
}
